/* OPCJE PODSTAWOWE */
@font-face {
    font-family: "Genos";
    src: url("fonts/Genos-Light.ttf") format("truetype"), url("fonts/Genos-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Exo";
    src: url("fonts/Exo-Bold-Italic.ttf") format("truetype");
}

html{
    --primary-red: #ed1c24;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-text{
    text-align: center;
}
body{
    font-family: Genos, sans-serif;
    background: url("images/bg.png") center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    scroll-behavior: smooth;
    color: white;
}

.container {
    width: 100%;
    max-width: 2560px;
    margin: auto;
}

/* NAGŁÓWEK I NAWIGACJA */

header{
    width: 100%;
    max-width: 2560px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.58);
    z-index: 10;
}

img.logo-main{
    height: 70px;
    padding: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 25px;
}
a.social-link{
    color: black;
}
nav a{
    text-decoration: none;
    color: white;
    line-height: 30px;
}

nav a:hover{
    color: var(--primary-red);
    cursor: pointer;
    transition: 0.2s ease;
}

.social-link{
    margin: auto 10px;
}

/* SEKCJA MAIN */
section{
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

article{
    width: 800px;
    max-width: 900px;
}

img.brand-logo{
    width: 500px;
    height: 500px;
}

.redness{
    color: var(--primary-red);
}

h1{
    letter-spacing: 10px;
    line-height: 120px;
    font-size: 120px;
    text-transform: uppercase;
    font-family: Exo, sans-serif;
}

.desc{
    font-size: 25px;
    line-height: 115%;
    letter-spacing: 2.5px;
}

.view-name{
    font-size: 40px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: var(--primary-red);
}


.brands{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h2-custom{
    text-align: center;
    font-size: 60px;
    letter-spacing: 7px;
    text-transform: uppercase;
    width: 100%;
}

/* ASORTYMENT SPIS */

#category{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding-inline: 50px;
    padding-bottom: 30vh;
}

#category a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
}

/* KONTAKT */

#contact{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    font-size: 30px;
}

img.map-background{
    width: 550px;
    height: 550px;
    position: absolute;
    z-index: 0;
}
.map{
    width: 550px;
    height: 550px;
}
iframe{
    z-index: 1;
    position: absolute;
    margin: 50px;
}
address.contact-box{
    display: flex;
    align-items: center;
}
img.contact-Icon{
    height: 50px;
    margin: 50px;
}

/* ZAKUPY ONLINE */
#shop div{
    padding-left: 40px;
}

/* STOPKA */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 100px;
    gap: 100px;
}

/* URZĄDZENIA MOBILNE */


@media (max-width: 600px) {
    .container{
        padding: 20px;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    #contact{
        flex-direction: column;
    }

}


